[flake8]
max-line-length = 88
# E203 и W503 отключаются, чтобы не было конфликтов с Black
ignore = E203, W503
exclude = .git,__pycache__,build,dist,.venv,venv
per-file-ignores =
    # Игнорируем неиспользуемые импорты в __init__.py
    __init__.py: F401
